html {
  font-size: 16px;
}
.base{
    width: 100%;
    margin: 0 auto;
    overflow-x: hidden;
}
.title{
    font-family: 'PingFangTC-Regular', 'PingFang TC', sans-serif;
    margin: 0;
    color: #fff;
    line-height: 37px;
    border: none;
    border-radius: 0px;
    -moz-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 5px 5px 5px rgb(0 0 0 / 20%);
    box-shadow: 5px 5px 5px rgb(0 0 0 / 20%);
    font-weight: 400;
    font-style: normal;
    font-size: 1.25rem;
    padding: 0 5px;
    background: -webkit-linear-gradient(180deg, rgba(255, 255, 255, 1) 1%, rgba(189, 117, 8, 1) 99%);
    background: -moz-linear-gradient(270deg, rgba(255, 255, 255, 1) 1%, rgba(189, 117, 8, 1) 99%);
    background: linear-gradient(270deg, rgba(255, 255, 255, 1) 1%, rgba(189, 117, 8, 1) 99%);
}
.content{
    font-size: 1rem;
    padding: 0 15px;
    font-family: 'ArialMT', 'Arial', sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    color: #333333;
    line-height: normal;
    text-transform: none;
}
.content-title{
    font-family: 'PingFangTC-Regular', 'PingFang TC', sans-serif;
    color: #BD7508;
}
.content-table{
    margin: 0 auto;
    font-family: 'PingFangTC-Regular', 'PingFang TC', sans-serif;
    font-style: normal;
    font-size: 0.875rem;
    text-align: center;
    border: 1px solid #e5cdac;
    width: 100%;
    max-width: calc( 100% - 30px);
}
.content-table th{
    font-weight: 400;
    font-style: normal;
    font-size: 0.875rem;
    background: #e5cdac;
    height: 51px;
    border-right: 1px solid #FFF;

}
.content-table th.last{
    border-right: 1px solid #e5cdac;
    border-bottom: 1px solid #e5cdac;
}
.content-table td{
    border: 1px solid #e5cdac;
    height: 30px;
    padding: 10px;
}
.content-table-s2 th{
  border-bottom: 1px solid #FFF;
}

.notify{
    color: rgba(238, 20, 20, 0.6627450980392157);
    text-align: center;
}
p .notify{
    color: rgba(238, 20, 20, 0.6627450980392157);
}
.note{
    width: 100%;
    max-width: calc( 100% - 30px);
    margin: 40px auto;
}
.img{
    background: #d7d7d7;
    padding: 20px;
}
.u19{
    width: calc( 100% - 66px);
    margin: 30px auto;
    display: block;
}
.score-cards p
,.score-cards>div{
    max-width: calc( 100% - 36px);
    margin: 30px auto;
}

.score-cards-min{
    display: inline-block;
    background: #d7d7d7;
    padding: 10px;
    width: 310px;
    text-align: center;
    margin: 0 20px 0 0;
    font-size: 0.8125rem;
}
.score-cards-min>img{
    display: block;
    margin: auto;
}

@media screen and (max-width: 770px) {
  .title{
    padding: 0 2%;
  }
  .content{
    padding: 0 3%;
  }
  .u21{
    width: calc( 100% - 21%);
  }

  .score-cards-min{
    width: 100%;
  }

  .score-cards-min>img{
    width: calc( 100% - 21%);
  }
}
