@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './index_DD.scss';

*, :after, :before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
  font-size: 20.48px;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

html,
body {
  background-color: #000;
  overflow-x: hidden;
  height: 100%;
  -webkit-overflow-scrolling: touch;
  overscroll-behavior-y: none;
  overscroll-behavior-x: none;
  overflow-y: hidden;
}

[type=reset],
[type=submit],
button,
html [type=button] {
  -webkit-appearance: button;
}

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

#app input {
  line-height: 100%;
}

button {
  border-radius: 0;
}

#app button,
#app input {
    outline: none;
    cursor: pointer;
    overflow: visible;
}

button,
select {
  text-transform: none;
}

button, input, optgroup, select, textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

img, svg {
  vertical-align: middle;
}

a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

a:not([href]):not([tabindex]),
a:not([href]):not([tabindex]):focus,
a:not([href]):not([tabindex]):hover {
  color: inherit;
  text-decoration: none;
}

th {
  text-align: inherit;
}

table {
  font-size: .66667rem;
}

table {
  border-collapse: collapse;
  th,
  td,
  .cell {
    text-align: center;
  }
}

.small, small {
  font-size: 80%;
  font-weight: 400;
}

#app .small {
  font-size: .91667rem;
}

@media (max-width: 413px) {
  :root {
    font-size: 3.2vw;
  }
}

@media (min-width: 992px) {
  :root {
    font-size: 12px
  }

  //整個滾動條
  ::-webkit-scrollbar {
    width: 13px;
    height: 13px;
    background-color: #000;
    //滾動條軌道
    &-track {
      background-color: #000;
    }
    //滾動條上的滾動滑塊
    &-thumb {
      border-radius: 10px;
      background-color: $yellow;
      border-top: 2px solid rgba(0, 0, 0, 0);
      border-right: 1px solid rgba(0, 0, 0, 0);
      border-bottom: 2px solid rgba(0, 0, 0, 0);
      border-left: 3px solid rgba(0, 0, 0, 0);
      background-clip: padding-box;
    }
    //當同時有垂直滾動條和水平滾動條時交彙的部分。通常是瀏覽器窗口
    &-corner {
      background-color: #000;
    }
  }
}

// 寬
.w-25 {
  width: 25%!important;
}
.w-35 {
  width: 35%!important;
}
.w-45 {
  width: 45%!important;
}
.w-50 {
  width: 50%!important;
}
.w-65 {
  width: 65%!important;
}
.w-75 {
  width: 75%!important;
}
.w-100 {
  width: 100%!important;
}
.w-auto {
  width: auto!important;
}

// 高
.h-100 {
  height: 100%!important;
}

// display
.d-flex {
  display: -ms-flexbox!important;
  display: -webkit-box!important;
  display: flex!important;
}
.d-none {
  display: none !important;
}

// display-flex
.flex-wrap {
  -ms-flex-wrap: wrap!important;
  flex-wrap: wrap!important;
}
.align-items-center {
  -ms-flex-align: center!important;
  -webkit-box-align: center!important;
  align-items: center!important;
}
.justify-content-center {
  -ms-flex-pack: center!important;
  -webkit-box-pack: center!important;
  justify-content: center!important;
}
.justify-content-between {
  -ms-flex-pack: justify!important;
  -webkit-box-pack: justify!important;
  justify-content: space-between!important;
}
.justify-content-end {
  -ms-flex-pack: end!important;
  -webkit-box-pack: end!important;
  justify-content: flex-end!important;
}
.flex-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column!important;
  -webkit-box-orient: vertical!important;
  flex-direction: column!important;
  -webkit-box-direction: normal!important;
}
.flex-fill {
  -ms-flex: 1 1 auto!important;
  -webkit-box-flex: 1!important;
  flex: 1 1 auto!important;
}
.flex-grow-0 {
  -ms-flex-positive: 0!important;
  -webkit-box-flex: 0!important;
  flex-grow: 0!important;
}

// margin
.mr-0, .mx-0 {
  margin-right: 0!important;
}
.mr-1, .mx-1 {
  margin-right: 0.25rem!important;
}
.mr-2, .mx-2 {
  margin-right: 0.5rem!important;
}
.mr-3, .mx-3 {
  margin-right: 1rem!important;
}
.mr-auto, .mx-auto {
  margin-right: auto!important;
}
.mb-0, .my-0 {
  margin-bottom: 0!important;
}
.mb-2, .my-2 {
  margin-bottom: 0.5rem!important;
}
.ml-1, .mx-1 {
  margin-left: 0.25rem!important;
}
.ml-2, .mx-2 {
  margin-left: 0.5rem!important;
}
.ml-3, .mx-3 {
  margin-left: 1rem!important;
}
.ml-auto, .mx-auto {
  margin-left: auto!important;
}
.m-auto {
  margin: auto!important;
}

//padding
.p-2 {
  padding: 0.5rem!important;
}
.p-3 {
  padding: 1rem!important;
}
.pt-3, .py-3 {
  padding-top: 1rem!important;
}
.pt-4, .py-4 {
  padding-top: 1.5rem!important;
}
.pr-1, .px-1 {
  padding-right: 0.25rem!important;
}
.pr-2, .px-2 {
  padding-right: 0.75rem!important;
}
.pr-3, .px-3 {
  padding-right: 1rem!important;
}
.pr-6, .px-6 {
  padding-right: 2rem!important;
}
.pr-04, .px-04 {
  padding-right: 0.4rem!important;
}
.pb-3, .py-3 {
  padding-bottom: 1rem!important;
}
.pb-4, .py-4 {
  padding-bottom: 1.5rem!important;
}
.pl-1, .px-1 {
  padding-left: 0.25rem!important;
}
.pl-2, .px-2 {
  padding-left: 0.75rem!important;
}
.pl-3, .px-3 {
  padding-left: 1rem!important;
}
.pl-6, .px-6 {
  padding-left: 2rem!important;
}
.pl-04, .px-04 {
  padding-left: 0.4rem!important;
}

// 樣式
#app .fas.yellow {
  fill: #f9c901 !important;
}
#app .fas.gold {
  fill: #ce9600 !important;
}
#app .fas.black {
  fill: #000 !important;
}
#app .fas.text-gray {
  fill: #a3a3a3 !important;
}
#app .fas.gray-deep {
  fill: #4e4e4e !important;
}
.fas.gold-light {
  fill: #b99e71;
}

// 顏色
#app .text-golden {
  color: #ce9600;
}
#app .text-red {
  color: #ff473d;
}
#app .text-blue {
  color: #0090ff;
}
#app .text-parent {
  color: transparent;
}
#app .text-black {
  color: #000;
}
#app .text-yellow {
  color: #f9c901;
}
#app .text-green {
  color: #56ad10;
}
#app .text-line-gray-deep {
  color: #6e6e6e;
}
#app .text-line-gray-shallow {
  color: #cecece;
}
.text-white {
  color: #fff!important;
}
.text-gold-light {
  color: #b99e71;
}

// 背景顏色
#app .bg-new-dark-white {
  background-color: #d6d6d6;
}
#app .bg-black {
  background-color: #333;
}
#app .bg-white {
  background-color: #fff!important;
}
#app .bg-yellow {
  color: #000;
  background: #f9c901;
  border: 0.08333rem solid #f9c901;
  border-radius: 0.25rem;
}
#app .bg-gray {
  color: #fff;
  background: #4e4e4e;
  border: 0.08333rem solid #4e4e4e;
  border-radius: 0.25rem;
}

// border
.border-bottom {
  border-bottom: 1px solid #dee2e6!important;
}

// border-color
.border-dark {
  border-color: #343a40!important;
}

// font
.strong {
  font-size: 1.16667rem;
}
.font-weight-bold {
  font-weight: 700!important;
}

// text
.text-center {
  text-align: center!important;
}
.text-right {
  text-align: right!important;
}
.text-left {
  text-align: left!important;
}
#app .text-underline {
  text-decoration: underline;
}

// cursor
.clickable {
  cursor: pointer;
}

//line
.line-yellow {
  font-size: 1rem !important;
  padding: 0.83333rem !important;
  margin: 0.20833rem !important;
  color: #f9c901;
  background: transparent;
  border: 0.08333rem solid #f9c901;
  border-radius: 0.25rem;
  &.el-button {
      font-size: 1rem !important;
      padding: 0.83333rem !important;
      margin: 0.20833rem !important;
      color: #f9c901;
      background: transparent;
      border: 0.08333rem solid #f9c901;
      border-radius: 0.25rem;
  }
  &.active {
    background: #f9c901 !important;
    color: #000 !important;
  }
}

// scroll-wrap
#app .scroll-wrap {
  width: 100%;
  height: 100%;
  .scroll-inner {
    width: 100%;
    height: 100%;
    min-height: 0;
    position: relative;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    .scroll-view {
      width: 100%;
      min-height: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      position: absolute;
      top: 0;
      left: 0
    }
  }
  &.float {
    .scroll-inner {
      position: static;
      .scroll-view {
        min-width: 100%;
        width: auto;
        height: 100%;
        float: left;
        top: 0;
        left: 0;
      }
    }
  }
}

// view-more
.view-more-container {
  padding: 1.5rem;
}
.view-more {
  cursor: pointer;
  border-bottom: 0.08333rem solid #000;
  padding-bottom: 0.01667rem;
}

.day-range {
  width: 100%;
  padding: 0.41667rem 1.25rem;
  .search-range {
    margin-left: 0.5rem !important;
  }
}

.day-range-options {
  width: 100%;
  padding: 0.83333rem 0rem 0.41667rem 0rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  .el-button {
    &:first-child {
      margin-left: 0 !important;
    }
  }
}

.date-time-picker-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  .picker {
    width: 23.33333rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    &.datetimerange {
      .el-range-input {
        padding: 0 !important;
      }
      .el-range-separator {
        height: auto !important;
        line-height: 1 !important;
        width: 2.08333rem;
      }
    }
  }
  .el-date-editor {
    height: 2.66667rem;
    width: 100%;
    input {
      font-size: 1rem;
      padding-left: 0.83333rem;
      padding-right: 0.83333rem;
      height: 100%;
      width: 100%;
    }
  }
  .label {
    color: #f9c901;
    margin-left: 0.58333rem;
    margin-right: 0.58333rem;
    font-size: 1.16667rem;
  }
}

.report-summary {
  background-color: #fdf3c9;
  .agent-type {
    font-size: 1rem;
    padding: 0.41667rem 1.66667rem 0.41667rem 0.83333rem;
    background-color: transparent !important;
    position: relative;
    overflow: hidden;
    display: inline-block;
  }
  .groups {
    padding: 0.83333rem;
    .in-group {
      background: #fff;
      -webkit-box-shadow: 0px 1px 3px 1px #a6a6a6;
      box-shadow: 0px 1px 3px 1px #a6a6a6;
      padding: 0.41667rem 0.41667rem 0.41667rem 0.41667rem !important;
    }
  }
  .list-row {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0.41667rem 1.25rem;
    .list-item {
      position: relative;
      width: 100%;
      &.info {
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
        .list-sub-item {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          word-break: break-word;
          margin-bottom: 0.83333rem;
          width: 100%;
          .list-item {
            width: 45%;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            padding-right: 0.41667rem;
            span {
              &.label {
                width: 100%;
                padding-bottom: 0.5rem;
                display: block;
              }
            }
          }
        }
        .name {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          word-break: break-all;
          margin-bottom: 0.83333rem;
          .icon,
          .fas,
          .text-link {
            color: #ce9600;
          }
        }
      }
      .icon {
        margin-right: 0.41667rem;
      }
      .label {
        width: 5rem;
        margin-right: 0.41667rem;
        color: #6e6e6e;
      }
      .value {
        font-weight: bold;
        .w-rate {
          position: absolute;
          top: 2px;
          left: 100%;
          white-space: nowrap;
          word-break: keep-all;
          text-align: left;
          padding-left: 0.41667rem;
          -webkit-transform: scale(0.6);
          transform: scale(0.6);
          -webkit-transform-origin: left center;
          transform-origin: left center;
        }
      }
      .ctrl {
        position: absolute;
        right: 0;
        top: 0.66667rem;
        text-align: center;
        -webkit-box-flex: initial;
        -ms-flex: initial;
        flex: initial;
        width: 3.33333rem;
        .item-inner {
          padding: 0 0.41667rem;
        }
        &.exp {
          top: auto;
          bottom: 0.66667rem;
        }
      }
    }
  }
  .bottom-line {
    display: block;
    border-bottom: 0.08333rem solid #ddd;
    width: 100%;
    margin: 0.83333rem auto;
    padding: 0rem 0.83333rem;
  }
}

.profit-report {
  .el-button {
    margin: 0.41667rem;
    font-size: .91667rem;
    font-weight: bold;
  }
  .el-tabs {
    border-top: 0.25rem solid #000;
    .el-tabs__header {
      padding-top: 0;
    }
    .el-tabs__nav {
      max-width: 100%;
      width: 100%;
    }
    .el-tabs__item {
      width: 50%;
      text-align: center;
      padding: 0;
      .tab-item {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        .fas {
          margin-bottom: 0.25rem;
          margin-right: 0.41667rem;
        }
      }
    }
  }
  .profit-tabs {
    &.el-tabs {
      &.light {
        .el-tabs__nav {
          .el-tabs__item {
            border-bottom: 0.2rem solid #a3a3a3;
            background-color: #000;
            .tab-item {
              color: #f9c901;
            }
            &.is-active {
              background-color: #f9c901;
              border-bottom: 0.16667rem solid #f9c901;
              .tab-item {
                color: #000;
              }
            }
          }
          &:after {
            border: none;
          }
        }
      }
    }
  }
  .profit-list {
    background: #fff;
    .agent-group {
      transform: translateZ(0);
      -webkit-transform: translateZ(0);
    }
    .list-row {
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      padding: 0.41667rem 1.25rem;
      transform: translateZ(0);
      -webkit-transform: translateZ(0);
      .list-item {
        position: relative;
        width: 100%;
        &.info {
          -webkit-box-flex: 1;
          -ms-flex: 1;
          flex: 1;
          .list-sub-item {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            word-break: break-all;
            margin-right: 0.83333rem;
          }
          .name {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            word-break: break-all;
            .fas,
            .text-link,
            .icon {
              color: #ce9600;
            }
          }
        }
        .icon {
          margin-right: 0.41667rem;
        }
        .label {
          margin-right: 0.41667rem;
          color: #6e6e6e;
        }
      }
    }
    .no-result {
      min-height: 50vh;
      padding: 1.66667rem;
      text-align: center;
    }
  }
  .page-total {
    background-color: #fff !important;
    -webkit-box-shadow: 0px 2px 3px 1px #a6a6a6;
    box-shadow: 0px 2px 3px 1px #a6a6a6;
    .list-sub-item {
      margin-right: 0rem !important;
      margin-top: 0.83333rem;
      &.name {
        font-weight: bold;
        font-size: 1.16667rem;
        width: 100% !important;
        padding-bottom: 0.41667rem;
        border-bottom: 0.08333rem solid #ce9600;
        .text-link {
          font-weight: bold;
        }
      }
      .page-item {
        width: 45%;
        padding-right: 0.41667rem !important;
        &.is-amount {
          padding-right: 0.41667rem !important;
        }
        .label {
          color: #616161;
        }
      }
    }
    .page-item {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      font-size: 1.16667rem;
      width: 45% !important;
      padding-right: 0 !important;
      &.is-amount {
        padding-right: 0.83333rem !important;
        .label {
          width: 100%;
          text-align: right !important;
        }
        .value {
          width: 100%;
          text-align: right !important;
        }
      }
      .label {
        width: 100%;
        margin-bottom: 0.41667rem;
        margin-right: 0;
        color: #898989;
      }
      .value {
        font-weight: bold;
      }
    }
  }
  .superior-summary {
    background-color: #fff;
  }
  .bottom-line {
    border-bottom: 0.08333rem solid #ddd;
    width: 100%;
    margin: 0.83333rem auto !important;
  }
}

.text-link {
  cursor: pointer;
}

.tab-item {
  float: left;
}

.option {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 0.83333rem;
  padding-top: 0.41667rem;
  padding-bottom: 0.41667rem;
  .prefix-label,
  .suffix-label {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    color: #fff;
    margin-right: 10px;
  }
  .el-select {
    height: 2.66667rem;
    width: 100%;
    .el-input {
      input {
        font-size: 1rem;
        padding-left: 0.83333rem;
        height: 100%;
        width: 100%;
      }
      &.el-input--suffix {
        .el-input__suffix {
          display: none;
        }
      }
    }
  }
  .selected-filter {
    .fas {
      svg {
        -webkit-transform: scale(0.8, 0.6);
        transform: scale(0.8, 0.6);
      }
    }
  }
  .input-filter {
    height: 2.66667rem;
    width: 100%;
    .el-input {
      height: 100%;
      width: 100%;
      input {
        font-size: 1rem;
        padding-left: 0.83333rem;
        height: 100%;
        width: 100%;
      }
    }
  }
}

.selected-filter {
  line-height: 1.5;
  position: relative;
  display: inline-block;
  width: 100%;
  background-color: #fff;
  border-radius: 0.3333332rem;
  border: 0.0833333rem solid #dcdfe6;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  outline: none;
  font-size: 1rem;
  select {
    background: transparent;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    height: 2.66667rem;
    width: 100%;
    border: 0;
    padding-left: 0.58333rem;
    padding-right: 0.58333rem;
    z-index: 1;
  }
  .el-select {
    background: transparent;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    height: 2.66667rem;
    width: 100%;
    border: 0;
    .el-select__tags {
      .el-tag {
        .el-tag__close {
          &.el-icon-close {
            right: -0.5rem !important;
            background: #fff;
            color: #4e4e4e;
          }
        }
      }
    }
    .el-input {
      .el-input__inner {
        height: 100% !important;
      }
    }
  }
  .el-input {
    input {
      height: 2.66667rem;
    }
  }
  .fas {
    position: absolute;
    right: 0.25rem;
    top: 0.41667rem;
    z-index: 0;
  }
  &.custom {
    background-color: transparent;
    border: 0.0833333rem solid transparent;
    width: 16.66667rem !important;
    .el-select__tags {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
      width: auto !important;
      max-width: 500px !important;
      .el-tag {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        max-width: 6rem;
        height: 2rem;
        line-height: 2rem;
        padding: 0 0.5rem;
        background: #4e4e4e;
        color: #fff;
        .el-select__tags-text {
          max-width: 6rem;
          font-size: 0.8rem;
          white-space: nowrap;
          text-overflow: ellipsis;
          word-break: keep-all;
          display: inline-block;
          overflow: hidden;
        }
        .el-icon-close {
          -webkit-box-flex: 0;
          -ms-flex: none;
          flex: none;
        }
      }
    }
  }
}

.filters {
  position: relative;
  padding: 0 0.83333rem 0.41667rem 0.83333rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  .filter-options {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .options {
    width: 11rem;
    margin-right: 1.25rem;
  }
  .filter-search {
    position: static !important;
    font-size: 1.16667rem;
    height: 2.66667rem;
    width: 7.2rem;
    padding: 0.56667rem 0.83333rem;
    margin-right: auto;
    -ms-flex-item-align: end;
    align-self: flex-end;
    margin-left: 0rem !important;
  }
  .el-button {
    margin: 0.41667rem;
    font-weight: bold;
  }
}

.ab-record {
  .filters {
    .filter-options {
      width: 23.3rem;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      .options {
        margin-right: 0;
        width: 11.5rem;
      }
    }
  }
  .report-list {
    .items {
      .list-row {
        .list-item {
          width: 50%;
          -ms-flex-wrap: wrap;
          flex-wrap: wrap;
          .label {
            width: 100%;
            padding-bottom: 0.5rem;
          }
          .value {
            width: 100%;
          }
        }
      }
    }
  }
}

.custom-dropdown  {
  &.el-select-dropdown {
    &.is-multiple {
      .el-select-dropdown__item {
        &.selected {
          color: #ce9600;
          &:after {
            right: 3%;
          }
        }
      }
    }
  }
  .el-filter {
    height: auto;
    padding: 0.5rem 0.5rem 0 0.5rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: 0px 1px 1px #eee;
    box-shadow: 0px 1px 1px #eee;
    .el-filter_input {
      width: 100%;
      height: 100%;
      border: 1px solid #333;
      font-size: 1rem;
      padding: 0.5rem;
      margin-left: 0 !important;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
    }
  }
  .el-filter_option {
    padding: 0.25rem 0;
  }
  .select-filter {
    z-index: 1;
    width: 100%;
    .text-link {
      cursor: pointer;
      text-decoration: underline;
      color: #000;
      font-weight: bold;
    }
  }
}

.report-list {
  .items {
    position: relative;
    width: 100%;
    padding: 0.625rem 1.16667rem 0.625rem 1.16667rem;
    .list-row {
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      width: 100%;
      padding: 0;
      .list-item {
        font-size: 1.16667rem;
        width: 50%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        word-break: break-all;
        padding-right: 0.41667rem;
        padding-top: 0.41667rem;
        padding-bottom: 0.41667rem;
      }
      .label {
        -webkit-box-flex: 0;
        -ms-flex: none;
        flex: none;
        width: auto;
        color: #6e6e6e;
        word-break: break-word;
      }
      .value {
        font-weight: bold;
        word-break: break-word;
      }
      .videoBtn {
        display: inline;
        margin-right: 0.20833rem;
      }
      .is-amount {
        padding-right: 0.83333rem !important;
        .label,
        .value {
          width: 100%;
          text-align: right !important;
          padding-right: 0px !important;
        }
      }
    }
    &:nth-child(odd) {
      background-color: #f4f4f4;
    }
    &:nth-child(even) {
      background-color: #fff;
    }
  }
}

.ams-timeslot-popper {
  width: 100%;
  left: 0 !important;
  .el-picker-panel__body {
    width: 100%;
    max-width: 100%;
    min-width: 100% !important;
    .el-date-range-picker__time-header {
      .el-date-range-picker__editors-wrap {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        .el-date-range-picker__editor {
          margin-bottom: 0.5rem;
        }
        .el-input__inner {
          height: 2.4rem !important;
          line-height: 2.4rem !important;
          font-size: 1rem;
        }
        &.is-right {
          .el-time-panel {
            right: 0;
            left: auto;
          }
        }
      }
    }
    .el-time-panel {
      width: $mobileSideBarWidth;
      .el-time-panel__btn {
        &.confirm {
          color: #f9c901 !important;
        }
      }
    }
    .el-picker-panel__content {
      &.el-date-range-picker__content {
        padding: 0.5rem;
        .el-date-table {
          td {
            padding: 0.2rem 0;
            div {
              height: 2.2rem;
              padding: 0;
            }
            &.in-range {
              div {
                background-color: #fdf3c9 !important;
              }
            }
            &.end-date, 
            &.start-date {
              span {
                background-color: #f9c901;
              }
              &.today {
                span {
                  color: #fff !important;
                }
              }
            }
          }
        }
      }
    }
    .el-date-range-picker__header {
      .el-icon-d-arrow-left,
      .el-icon-d-arrow-right {
        padding: 0;
      }
      div {
        white-space: nowrap;
        font-size: 1rem;
        margin: 0 auto;
      }
    }
  }
  .el-picker-panel__footer {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    button {
      &.el-button {
        margin: 0 !important;
      }
    }
    .is-plain {
      width: 32%;
    }
  }
}

.el-picker-panel {
  .quickSearch {
    border-top: 1px solid #eee;
    padding: 0.4rem 0.8rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    .button-group {
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      width: 30%;
      button {
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        width: 3.8rem;
        height: 2rem;
        margin: 0;
        font-size: 1rem;
        &.arrow {
          width: 2rem;
        }
        &.disable {
          &.el-button {
            background-color: #eee !important;
            border: 1px solid #eee !important;
          }
        }
      }
      .icon-arrow {
        position: static;
        font-weight: bolder;
      }
    }
    .el-button {
      background-color: #f9c901 !important;
      color: #000 !important;
      border: 1px solid #f9c901 !important;
      padding: 0 1rem;
    }
  }
}

#app .form-alert {
  width: 100%;
  .el-alert--error,
  .el-alert--warning {
    padding: 0.83333rem;
    background-color: transparent;
    word-break: break-all;
    color: #ff473d;
  }
}

.modPwd-container {
  .dialog-body {
    .account-info {
      color: $yellow;
      display: inline-block;
      padding-bottom: 2rem;
      font-size: 1.4rem;
      span {
        padding-left: .7rem;
        color: #fff;
      }
    }
    .el-form {
      margin-bottom: .7rem;
      .el-form-item {
        margin-bottom: 0;
        .el-form-item__content {
          line-height: 1.5rem;
          margin-bottom: 2.1rem;
          .el-form-item__error {
            top: 100%;
          }
          .item {
            color: $yellow;
          }
        }
        &.newPassword {
          .el-form-item__content {
            .item {
              display: flex;
              flex-direction: column;
              .newPasswordTip {
                color: #fff;
                font-size: 1.1rem;
              }
            }
          }
        }
      }
    }
  }
}

.el-form {
  .el-form-item {
    .el-form-item__content {
      .custom-psw {
        .el-icon-view {
          display: inline-block;
        }
        .el-input__inner {
          height: 100%;
        }
        &.el-input {
          height: 3rem;
        }
        .el-input__suffix {
          display: flex;
          align-items: center;
        }
      }
    }
  }
  .custom-psw {
    .el-input__icon {
      display: none;
    }
    .el-icon-view {
      display: inline-block;
    }
    &.is-error {
      .has-error {
        display: inline-block;
      }
    }
    &.is-success {
      .no-error {
        display: inline-block;
      }
    }
  }
}

.dialog-body {
  .el-form {
    .el-form-item {
      display: flex;
      flex-direction: column;
      .el-form-item__label {
        color: $yellow;
        min-width: auto;
        text-align: left;
        line-height: 2rem;
      }
      .el-form-item__content {
        line-height: 0;
        .el-input {
          .el-input__inner {
            padding: 0, 15px;
            color: #000;
            height: 2.83333rem;
          }
        }
      }
      .el-form-item__error {
        padding: 0;
      }
      &.disableRequiredIcon {
        &.is-required {
          &:not(.is-no-asterisk) {
            &>.el-form-item__label {
              &:before {
                content: '';
              }
            }
          }
        }
      }
    }
  }
}

#app .animated {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

@keyframes fadeInUp {
  0% {
    bottom: -20%;
  }
  100% {
    bottom: 0;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}

@keyframes fadeOut {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.inferior-psw {
  background-color: #000;
  width: 100%;
  .notice-tip {
    font-size: 1.33333rem;
  }
  .el-form-item {
    margin-bottom: 0.83333rem;
  }
  .el-form-item__content {
    font-size: 1rem;
    line-height: 1.66667rem;
  }
  .tip {
    font-size: .83333rem;
    color: #fff;
    line-height: 1.5 !important;
    padding-bottom: 10px;
  }
  .custom-psw {
    &.is-error{
      .has-error {
        display: inline-block;
      }
    }
    &.is-success {
      .no-error {
        display: inline-block;
      }
    }
  }
}

.notice {
  background-color: #000;
  padding: 1.66667rem 1.66667rem 1.66667rem 1.66667rem;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 4;
  border-top: 0.25rem solid #f9c901;
  height: auto;
  .notice-tip {
    color: #f9c901;
    margin-bottom: 0.83333rem;
    margin-top: 0.83333rem;
  }
  .notice-text {
    color: #fff;
    margin-bottom: 1.66667rem;
    line-height: 1.66667rem;
  }
}

.popup-page {
  width: 100vw;
  height: calc(100vh - 3.75rem);
  background-color: #000;
  position: fixed;
  top: $navBarHeight;
  left: 0;
  z-index: 1;
  .form-step {
    width: 100%;
    padding: 0.83333rem 1.66667rem;
    border-radius: 0;
    .el-step__head {
      .el-step__line {
        height: 0.16667rem;
        top: 0.91667rem;
        left: 0;
        right: 0;
      }
      .el-step__icon {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
        width: 2rem;
        height: 2rem;
        font-size: 1.16667rem;
      }
      &.is-process {
        .el-step__icon {
          color: #000;
          border-color: #000;
          background-color: #f9c901;
        }
      }
      &.is-wait {
        .el-step__icon {
          color: #000;
          border-color: #000;
          background-color: #a3a3a3;
        }
      }
      &.is-success {
        color: #000;
        .el-step__icon {
          background-color: #f9c901;
          border-color: #000;
        }
        .el-step__line {
          background-color: #f9c901;
        border-color: #f9c901;
        }
        .el-step__line_inner {
          background-color: #f9c901;
          border-color: #f9c901;
        }
      }
    }
    .el-step__title {
      font-size: .91667rem;
    }
  }
  .parent-info {
    font-size: 1.08333rem;
    color: #fff;
    text-align: right;
    padding: 0.83333rem;
  }
  .step-content {
    padding: 0 1.66667rem;
    position: relative;
    z-index: 0;
    .form-ctrl {
      padding-top: 0.41667rem;
      padding-bottom: 0.41667rem;
      width: calc(100vw - 3.33333rem);
      height: 3.33333rem;
      background: #000;
      button {
        width: 150px;
        margin: auto;
      }
    }
  }
  .el-form {
    .form-item-title {
      background-color: #f9c901;
      font-size: 1.16667rem;
      font-weight: bold;
      padding: 1.25rem 1.66667rem;
      color: #000;
      background: #f9c901;
      width: 100%;
    }
    .step-content {
      .el-form-item {
        margin-bottom: 0;
        .el-form-item__content {
          line-height: 1 !important;
        }
        &.is-error {
          input {
            border-color: #ff473d !important;
          }
        }
        .el-select {
          height: 2.5rem;
        }
      }
      .form-item-label {
        margin-top: 0.41667rem;
        margin-bottom: 0.41667rem;
        min-width: 2.5rem;
        white-space: nowrap;
        font-size: 1.16667rem;
        color: #f9c901;
      }
      input {
        font-size: 1.16667rem;
        margin-bottom: 0 !important;
      }
      .label-group {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin: 0.83333rem 0;
      }
      .tip {
        margin-top: 0.41667rem;
        margin-bottom: 0.41667rem;
        font-size: 1rem;
        color: #a3a3a3;
        margin-left: auto;
      }
      .el-input__inner {
        border-radius: 0.25rem;
        border: 0.08333rem solid #f9c901;
        background-color: #fff;
        padding: 0.83333rem;
        height: 2.5rem;
        line-height: 2.5rem;
        font-size: 1.33333rem;
        color: #000;
      }
      .el-textarea__inner {
        border-radius: 0.25rem;
        border: 0.08333rem solid #f9c901;
        background-color: #fff;
        padding: 0.83333rem;
        font-size: 1.33333rem;
        color: #000;
      }
      .el-input__suffix {
        .el-input__icon {
          line-height: 2.4rem !important;
        }
      }
    }
    .el-switch {
      .el-switch__label {
        color: #fff;
        font-size: 1.16667rem;
        display: flex;
        align-items: center;
        &.is-active {
          color: #f9c901;
        }
        * {
          font-size: 1.16667rem;
        }
      }
      .el-switch__core {
        border-color: #f9c901 !important;
        background-color: #f9c901 !important;
      }
    }
  }
}