#app.mobile {
  .day-range {
    width: 100%;
    padding: 0.41667rem 1.25rem;
    .search-range {
      margin-left: 0.5rem !important;
    }
    .date-time-picker-box {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      .picker {
        width: 23.33333rem;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        &.datetimerange {
          .el-range-input {
            padding: 0 !important;
          }
          .el-range-separator {
            height: auto !important;
            line-height: 1 !important;
            width: 2.08333rem;
          }
        }
      }
      .el-date-editor {
        height: 2.66667rem;
        width: 100%;
        input {
          font-size: 1rem;
          padding-left: 0.83333rem;
          padding-right: 0.83333rem;
          height: 100%;
          width: 100%;
        }
      }
      .label {
        color: #f9c901;
        margin-left: 0.58333rem;
        margin-right: 0.58333rem;
        font-size: 1.16667rem;
      }
    }
    .day-range-options {
      width: 100%;
      padding: 0.83333rem 0rem 0.41667rem 0rem;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      .el-button {
        &:first-child {
          margin-left: 0 !important;
        }
      }
    }
  }
  // view-more
  .view-more-container {
    padding: 1.5rem;
    .view-more {
      cursor: pointer;
      border-bottom: 0.08333rem solid #000;
      padding-bottom: 0.01667rem;
    }
  }
  
  .report-list {
    .items {
      position: relative;
      width: 100%;
      padding: 0.625rem 1.16667rem 0.625rem 1.16667rem;
      .list-row {
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        width: 100%;
        padding: 0;
        .list-item {
          font-size: 1.16667rem;
          width: 50%;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: start;
          -ms-flex-align: start;
          align-items: flex-start;
          word-break: break-all;
          padding-right: 0.41667rem;
          padding-top: 0.41667rem;
          padding-bottom: 0.41667rem;
        }
        .label {
          -webkit-box-flex: 0;
          -ms-flex: none;
          flex: none;
          width: auto;
          color: #6e6e6e;
          word-break: break-word;
        }
        .value {
          font-weight: bold;
          word-break: break-word;
        }
        .videoBtn {
          display: inline;
          margin-right: 0.20833rem;
        }
        .is-amount {
          padding-right: 0.83333rem !important;
          .label,
          .value {
            width: 100%;
            text-align: right !important;
            padding-right: 0px !important;
          }
        }
      }
      &:nth-child(odd) {
        background-color: #f4f4f4;
      }
      &:nth-child(even) {
        background-color: #fff;
      }
    }
  }
  
  .ab-record {
    .filters {
      .filter-options {
        width: 23.3rem;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        .options {
          margin-right: 0;
          width: 11.5rem;
        }
      }
    }
    .report-list {
      .items {
        .list-row {
          .list-item {
            width: 50%;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            .label {
              width: 100%;
              padding-bottom: 0.5rem;
            }
            .value {
              width: 100%;
            }
          }
        }
      }
    }
  }
    
  .modPwd-container {
    .dialog-body {
      .account-info {
        color: $yellow;
        display: inline-block;
        padding-bottom: 2rem;
        font-size: 1.4rem;
        span {
          padding-left: .7rem;
          color: #fff;
        }
      }
      .el-form {
        margin-bottom: .7rem;
        .el-form-item {
          margin-bottom: 0;
          .el-form-item__content {
            line-height: 1.5rem;
            margin-bottom: 2.1rem;
            .el-form-item__error {
              top: 100%;
            }
            .item {
              color: $yellow;
            }
          }
          &.newPassword {
            .el-form-item__content {
              .item {
                display: flex;
                flex-direction: column;
                .newPasswordTip {
                  color: #fff;
                  font-size: 1.1rem;
                }
              }
            }
          }
        }
      }
    }
  }

  .fadeInUp {
    -webkit-animation-name: fadeInUpMobile;
    animation-name: fadeInUpMobile;
  }
  
  @keyframes fadeInUpMobile {
    0% {
      bottom: -20%;
    }
    100% {
      bottom: 0;
    }
  }
  
  .fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
  }
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  .notice {
    background-color: #000;
    padding: 1.66667rem 1.66667rem 1.66667rem 1.66667rem;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 4;
    border-top: 0.25rem solid #f9c901;
    height: auto;
    .notice-tip {
      color: #f9c901;
      margin-bottom: 0.83333rem;
      margin-top: 0.83333rem;
    }
    .notice-text {
      color: #fff;
      margin-bottom: 1.66667rem;
      line-height: 1.66667rem;
    }
  }
  
  .popup-page {
    width: 100vw;
    height: calc(100vh - 3.75rem);
    background-color: #000;
    position: fixed;
    top: $navBarHeight;
    left: 0;
    z-index: 1;
    .form-step {
      width: 100%;
      padding: 0.83333rem 1.66667rem;
      border-radius: 0;
      .el-step__head {
        .el-step__line {
          height: 0.16667rem;
        }
      }
    }
    .parent-info {
      font-size: 1.08333rem;
      color: #fff;
      text-align: right;
      padding: 0.83333rem;
    }
    .step-content {
      padding: 0 1.66667rem;
      position: relative;
      z-index: 0;
      .form-ctrl {
        padding-top: 0.41667rem;
        padding-bottom: 0.41667rem;
        width: calc(100vw - 3.33333rem);
        height: 3.33333rem;
        background: #000;
        button {
          width: 150px;
          margin: auto;
        }
      }
    }
    .el-form {
      .form-item-title {
        background-color: #f9c901;
        font-size: 1.16667rem;
        font-weight: bold;
        padding: 1.25rem 1.66667rem;
        color: #000;
        background: #f9c901;
        width: 100%;
      }
      .step-content {
        .el-form-item {
          margin-bottom: 0;
          .el-form-item__content {
            line-height: 1 !important;
          }
          &.is-error {
            input {
              border-color: #ff473d !important;
            }
          }
          .el-select {
            height: 2.5rem;
          }
        }
        .form-item-label {
          margin-top: 0.41667rem;
          margin-bottom: 0.41667rem;
          min-width: 2.5rem;
          white-space: nowrap;
          font-size: 1.16667rem;
          color: #f9c901;
        }
        input {
          font-size: 1.16667rem;
          margin-bottom: 0 !important;
        }
        .label-group {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -ms-flex-wrap: wrap;
          flex-wrap: wrap;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          margin: 0.83333rem 0;
        }
        .tip {
          margin-top: 0.41667rem;
          margin-bottom: 0.41667rem;
          font-size: 1rem;
          color: #a3a3a3;
          margin-left: auto;
        }
        .el-input__inner {
          border-radius: 0.25rem;
          border: 0.08333rem solid #f9c901;
          background-color: #fff;
          padding: 0.83333rem;
          height: 2.5rem;
          line-height: 2.5rem;
          font-size: 1.33333rem;
          color: #000;
        }
        .el-textarea__inner {
          border-radius: 0.25rem;
          border: 0.08333rem solid #f9c901;
          background-color: #fff;
          padding: 0.83333rem;
          font-size: 1.33333rem;
          color: #000;
        }
        .el-input__suffix {
          .el-input__icon {
            line-height: 2.4rem !important;
          }
        }
      }
      .el-switch {
        .el-switch__label {
          color: #fff;
          font-size: 1.16667rem;
          display: flex;
          align-items: center;
          &.is-active {
            color: #f9c901;
          }
          * {
            font-size: 1.16667rem;
          }
        }
        .el-switch__core {
          border-color: #f9c901 !important;
          background-color: #f9c901 !important;
        }
      }
    }
  }
  
  .pad_frame {
    padding: 0.41667rem 0.83333rem 0.41667rem 0.83333rem;
  }

  .notice-cover {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    background-color: rgba(0,0,0,0.5);
    z-index: 3;
  }

  .data_content {
    .el-form-item__content {
      line-height: 3rem;
      position: relative;
      font-size: 1.4rem;
    }
  }
  
  // 大dialog視窗
  .black_bg {
    left: 0;
    width: 100%;
    top: 3.75rem;
    position: fixed;
    background-color: #000;
    height: calc(100vh - 3.75rem);
    z-index: 2;
    .ctrlBtn {
      height: 2.5rem;
    }
    .data_content {
      overflow: auto;
      height: calc(100vh - 3.75rem - 1.5rem - 6.5rem);
      .tip {
        float: right;
        font-size: .83333rem;
        color: #fff;
      }
      .titleBar {
        margin-top: 1.5rem;
        font-size: 1.16667rem;
        font-weight: bold;
        padding: 1.25rem 1.66667rem;
        color: #000;
        background: #f9c901;
        width: 100%;
        display: flex;
        align-items: center;
      }
      .item {
        padding: 0 1rem;
        &.is-error {
          .el-input__inner {
            border-color: #f56c6c;
          }
          .el-input__validateIcon {
            color: #f56c6c;
          }
        }
        &.is-success {
          .el-input__inner {
            border-color: #67c23a;
          }
          .el-input__validateIcon {
            color: #67c23a;
          }
        }
      }
    }
    .operate_content {
      height: 6.5rem;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      .form-ctrl {
        padding-top: 0.41667rem;
        padding-bottom: 0.41667rem;
        width: calc(100vw - 3.33333rem);
        height: 3.33333rem;
        background: #000;
        button {
          width: 150px;
          margin: auto;
        }
      }
    }
  
    .el-select {
      background: transparent;
      appearance: none;
      -moz-appearance: none;
      -webkit-appearance: none;
      height: 2.66667rem;
      width: 100%;
      border: 0;
    }
    .label-group.required:after {
      content: "*";
      color: #f56c6c;
      margin-left: 0.3rem;
      font-size: 1.5rem;
    }
  }
  
  .el-tabs.light {
    .el-tabs__nav {
      float: none;
      background-color: #ffffff;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      position: relative;
      .el-tabs__item {
        &.is-active {
          border-bottom: 0.16667rem solid #ce9600;
        }
      }
    }
  }
  
  .el-tabs {
    &.deep {
      .el-tabs__nav {
        .el-tabs__item {
          &.is-active {
            .tab-item {
              color: #f9c901;
              border-bottom: 0.16667rem solid #f9c901;
            }
          }
        }
      }
    }
  }

  .no-result {
    min-height: 50vh;
    padding: 1.66667rem;
    text-align: center;
  }
}

.ams-timeslot-popper.mobilePicker {
  width: 100%;
  left: 0 !important;
  .el-picker-panel__body {
    .el-date-range-picker__time-header {
      .el-date-range-picker__editors-wrap {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        .el-date-range-picker__editor {
          margin-bottom: 0.5rem;
        }
        .el-input__inner {
          height: 2.4rem !important;
          line-height: 2.4rem !important;
          font-size: 1rem;
        }
        &.is-right {
          .el-time-panel {
            right: 0;
            left: auto;
          }
        }
      }
    }
    .el-date-range-picker__header {
      .el-icon-d-arrow-left,
      .el-icon-d-arrow-right {
        padding: 0;
      }
      div {
        white-space: nowrap;
        font-size: 1rem;
        margin: 0 auto;
      }
    }
    .el-picker-panel__content {
      &.el-date-range-picker__content {
        padding: 0.5rem;
        .el-date-table {
          td {
            padding: 0.2rem 0;
            div {
              height: 2.2rem;
              padding: 0;
            }
          }
        }
      }
    }
  }
  .quickSearch {
    .button-group {
      width: 30%;
      button {
        width: 3.8rem;
        height: 2rem;
        font-size: 1rem;
        &.arrow {
          width: 2rem;
        }
      }
    }
  }
  .el-picker-panel__footer {
    .is-plain {
      width: 32%;
    }
  }
}