#app.mobile {
  .day-range {
    width: 100%;
    padding: 0.41667rem 1.25rem;
    .search-range {
      margin-left: 0.5rem !important;
    }
    .date-time-picker-box {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      .picker {
        width: 23.33333rem;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        &.datetimerange {
          .el-range-input {
            padding: 0 !important;
          }
          .el-range-separator {
            height: auto !important;
            line-height: 1 !important;
            width: 2.08333rem;
          }
        }
      }
      .el-date-editor {
        height: 2.66667rem;
        width: 100%;
        input {
          font-size: 1rem;
          padding-left: 0.83333rem;
          padding-right: 0.83333rem;
          height: 100%;
          width: 100%;
        }
      }
      .label {
        color: #f9c901;
        margin-left: 0.58333rem;
        margin-right: 0.58333rem;
        font-size: 1.16667rem;
      }
    }
    .day-range-options {
      width: 100%;
      padding: 0.83333rem 0rem 0.41667rem 0rem;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      .el-button {
        &:first-child {
          margin-left: 0 !important;
        }
      }
    }
  }
  // view-more
  .view-more-container {
    padding: 1.5rem;
    .view-more {
      cursor: pointer;
      border-bottom: 0.08333rem solid #000;
      padding-bottom: 0.01667rem;
    }
  }
  .filters {
    position: relative;
    padding: 0 0.83333rem 0.41667rem 0.83333rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    .filter-options {
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
    }
    .options {
      width: 11rem;
      margin-right: 1.25rem;
    }
    .filter-search {
      position: static !important;
      font-size: 1.16667rem;
      height: 2.66667rem;
      width: 7.2rem;
      padding: 0.56667rem 0.83333rem;
      margin-right: auto;
      -ms-flex-item-align: end;
      align-self: flex-end;
      margin-left: 0rem !important;
    }
    .el-button {
      margin: 0.41667rem;
      font-weight: bold;
    }
  }
  
  .report-list {
    .items {
      position: relative;
      width: 100%;
      padding: 0.625rem 1.16667rem 0.625rem 1.16667rem;
      .list-row {
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        width: 100%;
        padding: 0;
        .list-item {
          font-size: 1.16667rem;
          width: 50%;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: start;
          -ms-flex-align: start;
          align-items: flex-start;
          word-break: break-all;
          padding-right: 0.41667rem;
          padding-top: 0.41667rem;
          padding-bottom: 0.41667rem;
        }
        .label {
          -webkit-box-flex: 0;
          -ms-flex: none;
          flex: none;
          width: auto;
          color: #6e6e6e;
          word-break: break-word;
        }
        .value {
          font-weight: bold;
          word-break: break-word;
        }
        .videoBtn {
          display: inline;
          margin-right: 0.20833rem;
        }
        .is-amount {
          padding-right: 0.83333rem !important;
          .label,
          .value {
            width: 100%;
            text-align: right !important;
            padding-right: 0px !important;
          }
        }
      }
      &:nth-child(odd) {
        background-color: #f4f4f4;
      }
      &:nth-child(even) {
        background-color: #fff;
      }
    }
  }
  
  .ab-record {
    .filters {
      .filter-options {
        width: 23.3rem;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        .options {
          margin-right: 0;
          width: 11.5rem;
        }
      }
    }
    .report-list {
      .items {
        .list-row {
          .list-item {
            width: 50%;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            .label {
              width: 100%;
              padding-bottom: 0.5rem;
            }
            .value {
              width: 100%;
            }
          }
        }
      }
    }
  }
    
  .modPwd-container {
    .dialog-body {
      .account-info {
        color: $yellow;
        display: inline-block;
        padding-bottom: 2rem;
        font-size: 1.4rem;
        span {
          padding-left: .7rem;
          color: #fff;
        }
      }
      .el-form {
        margin-bottom: .7rem;
        .el-form-item {
          margin-bottom: 0;
          .el-form-item__content {
            line-height: 1.5rem;
            margin-bottom: 2.1rem;
            .el-form-item__error {
              top: 100%;
            }
            .item {
              color: $yellow;
            }
          }
          &.newPassword {
            .el-form-item__content {
              .item {
                display: flex;
                flex-direction: column;
                .newPasswordTip {
                  color: #fff;
                  font-size: 1.1rem;
                }
              }
            }
          }
        }
      }
    }
  }
  
  .el-form {
    .el-form-item {
      .el-form-item__content {
        .custom-psw {
          .el-icon-view {
            display: inline-block;
          }
          .el-input__inner {
            height: 100%;
          }
          &.el-input {
            height: 3rem;
          }
          .el-input__suffix {
            display: flex;
            align-items: center;
          }
        }
      }
    }
    .custom-psw {
      .el-input__icon {
        display: none;
      }
      .el-icon-view {
        display: inline-block;
      }
      &.is-error {
        .has-error {
          display: inline-block;
        }
      }
      &.is-success {
        .no-error {
          display: inline-block;
        }
      }
    }
  }
  
  .animated {
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  
  .fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
  }
  @keyframes fadeInUp {
    0% {
      bottom: -20%;
    }
    100% {
      bottom: 0;
    }
  }
  
  .fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
  }
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  .notice {
    background-color: #000;
    padding: 1.66667rem 1.66667rem 1.66667rem 1.66667rem;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 4;
    border-top: 0.25rem solid #f9c901;
    height: auto;
    .notice-tip {
      color: #f9c901;
      margin-bottom: 0.83333rem;
      margin-top: 0.83333rem;
    }
    .notice-text {
      color: #fff;
      margin-bottom: 1.66667rem;
      line-height: 1.66667rem;
    }
  }
  
  .popup-page {
    width: 100vw;
    height: calc(100vh - 3.75rem);
    background-color: #000;
    position: fixed;
    top: $navBarHeight;
    left: 0;
    z-index: 1;
    .form-step {
      width: 100%;
      padding: 0.83333rem 1.66667rem;
      border-radius: 0;
      .el-step__head {
        .el-step__line {
          height: 0.16667rem;
          top: 0.91667rem;
          left: 0;
          right: 0;
        }
        .el-step__icon {
          -webkit-transform: scale(1.2);
          transform: scale(1.2);
          width: 2rem;
          height: 2rem;
          font-size: 1.16667rem;
        }
        &.is-process {
          .el-step__icon {
            color: #000;
            border-color: #000;
            background-color: #f9c901;
          }
        }
        &.is-wait {
          .el-step__icon {
            color: #000;
            border-color: #000;
            background-color: #a3a3a3;
          }
        }
        &.is-success {
          color: #000;
          .el-step__icon {
            background-color: #f9c901;
            border-color: #000;
          }
          .el-step__line {
            background-color: #f9c901;
          border-color: #f9c901;
          }
          .el-step__line_inner {
            background-color: #f9c901;
            border-color: #f9c901;
          }
        }
      }
      .el-step__title {
        font-size: .91667rem;
      }
    }
    .parent-info {
      font-size: 1.08333rem;
      color: #fff;
      text-align: right;
      padding: 0.83333rem;
    }
    .step-content {
      padding: 0 1.66667rem;
      position: relative;
      z-index: 0;
      .form-ctrl {
        padding-top: 0.41667rem;
        padding-bottom: 0.41667rem;
        width: calc(100vw - 3.33333rem);
        height: 3.33333rem;
        background: #000;
        button {
          width: 150px;
          margin: auto;
        }
      }
    }
    .el-form {
      .form-item-title {
        background-color: #f9c901;
        font-size: 1.16667rem;
        font-weight: bold;
        padding: 1.25rem 1.66667rem;
        color: #000;
        background: #f9c901;
        width: 100%;
      }
      .step-content {
        .el-form-item {
          margin-bottom: 0;
          .el-form-item__content {
            line-height: 1 !important;
          }
          &.is-error {
            input {
              border-color: #ff473d !important;
            }
          }
          .el-select {
            height: 2.5rem;
          }
        }
        .form-item-label {
          margin-top: 0.41667rem;
          margin-bottom: 0.41667rem;
          min-width: 2.5rem;
          white-space: nowrap;
          font-size: 1.16667rem;
          color: #f9c901;
        }
        input {
          font-size: 1.16667rem;
          margin-bottom: 0 !important;
        }
        .label-group {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -ms-flex-wrap: wrap;
          flex-wrap: wrap;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          margin: 0.83333rem 0;
        }
        .tip {
          margin-top: 0.41667rem;
          margin-bottom: 0.41667rem;
          font-size: 1rem;
          color: #a3a3a3;
          margin-left: auto;
        }
        .el-input__inner {
          border-radius: 0.25rem;
          border: 0.08333rem solid #f9c901;
          background-color: #fff;
          padding: 0.83333rem;
          height: 2.5rem;
          line-height: 2.5rem;
          font-size: 1.33333rem;
          color: #000;
        }
        .el-textarea__inner {
          border-radius: 0.25rem;
          border: 0.08333rem solid #f9c901;
          background-color: #fff;
          padding: 0.83333rem;
          font-size: 1.33333rem;
          color: #000;
        }
        .el-input__suffix {
          .el-input__icon {
            line-height: 2.4rem !important;
          }
        }
      }
      .el-switch {
        .el-switch__label {
          color: #fff;
          font-size: 1.16667rem;
          display: flex;
          align-items: center;
          &.is-active {
            color: #f9c901;
          }
          * {
            font-size: 1.16667rem;
          }
        }
        .el-switch__core {
          border-color: #f9c901 !important;
          background-color: #f9c901 !important;
        }
      }
    }
  }
  
  .pad_frame {
    padding: 0.41667rem 0.83333rem 0.41667rem 0.83333rem;
  }

  .notice-cover {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    background-color: rgba(0,0,0,0.5);
    z-index: 3;
  }
  
  .agent-tree-detail {
    white-space: nowrap;
    line-height: 1.3rem !important;
    min-height: 40px;
    width: 100%;
    cursor: default;
    .border-top {
      border-top: 1px solid #f9c901 !important;
    }
    .padding-top {
      padding-top: 15px;
    }
    .basis-50 {
      -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
    }
    .basis-100 {
      -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
    }
    .title-item {
      font-size: 1.16667rem;
      color: #f9c901;
      font-weight: normal;
    }
    .sub-title-item.gray {
      color: #a3a3a3;
    }
    .sub-title-item {
      font-size: 1.16667rem;
      color: #fff;
      font-weight: normal;
    }
    .content-item {
      font-size: 1.16667rem;
      color: #fff;
    }
    .overflow-hidden {
      overflow: hidden;
    }
  }

  // index視窗
  .view-container {
    overflow: auto;
    max-height: calc(100vh - 3.75rem);
    .search-container {
      width: 100%;
      padding: 1.5rem 0.5rem 0.3rem 0.5rem;
      .createBtn {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 2.5rem;
        width: 2.5rem;
      }
      .searchBtn {
        border-radius: 0.16667rem;
        background-color: #f9c901;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 2.5rem;
        width: 2.5rem;
      }
      .searchIcon {
        fill: #000 !important;
        height: 1.5rem;
        width: 1.5rem
      }
      &.yellow-border-bottom {
        border-bottom: 0.16667rem solid #f9c901;
      }
      .options {
        display: flex;
        width: 100%;
        .option {
          width: 12.64583rem;
          padding-right: 0;
          padding-left: 0;
          padding-top: 0;
        }
        .more-opiton {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
        }
        .option_ctrl_right {
          justify-content: flex-end;
          width: 100%;
          padding: 0 0.5rem;
        }
      }
    }
    .table-container {
      .even-row {
        display: flex;
        background-color: #fff;
        padding: 0.625rem 1.16667rem 0.625rem 0;
        margin: 0;
      }
      .odd-row {
        display: flex;
        background-color: #f4f4f4;
        padding: 0.625rem 1.16667rem 0.625rem 0;
        margin: 0;
      }
      .photo {
        width: 9.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        .img {
          vertical-align: middle;
          width: 9rem;
          height: 10.2857rem;
        }
      }
      .number {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.33333rem;
        font-weight: bolder;
        padding: 0 0.5rem;
        width: 3rem;
      }
      .info {
        padding-left: 0.5rem;
      }
      .item {
        display: flex;
        flex-direction: column;
        padding-bottom: 0.2rem;
        .title {
          width: 100%;
          font-size: 1.16667rem;
          color: #6e6e6e;
          word-break: break-word;
          margin-bottom: 0.1rem;
        }
        .value {
          font-size: 1.16667rem;
          font-weight: bold;
          word-break: break-all;
        }
      }
      .left {
        width: 50%;
        padding-left: 1.16667rem;
      }
      .right {
        width: 50%;
      }
      .operate {
        display: flex;
        flex-wrap: wrap;
        .button {
          margin-right: 0.5rem;
          margin-top: 0.5rem;
        }
      }
      .more_btn_space {
        padding: 1.5rem;
        text-align: center;
        background-color: #fff;
      }
      .search_more {
        width: 100%;
        height: 4.5rem;
        .search_more_btn {
          padding-bottom: 0.01667rem;
          border-bottom: 1px solid #343a40;
        }
      }
      .noInformation {
        margin-top: 1rem;
        text-align: center;
        min-height: 50vh;
      }
    }
  }
  
  .data_content {
    .el-form-item__content {
      line-height: 3rem;
      position: relative;
      font-size: 1.4rem;
    }
  }
  
  // 大dialog視窗
  .black_bg {
    left: 0;
    width: 100%;
    top: 3.75rem;
    position: fixed;
    background-color: #000;
    height: calc(100vh - 3.75rem);
    z-index: 2;
    .ctrlBtn {
      height: 2.5rem;
    }
    .data_content {
      overflow: auto;
      height: calc(100vh - 3.75rem - 1.5rem - 6.5rem);
      .tip {
        float: right;
        font-size: .83333rem;
        color: #fff;
      }
      .titleBar {
        margin-top: 1.5rem;
        font-size: 1.16667rem;
        font-weight: bold;
        padding: 1.25rem 1.66667rem;
        color: #000;
        background: #f9c901;
        width: 100%;
        display: flex;
        align-items: center;
      }
      .item {
        padding: 0 1rem;
        &.is-error {
          .el-input__inner {
            border-color: #f56c6c;
          }
          .el-input__validateIcon {
            color: #f56c6c;
          }
        }
        &.is-success {
          .el-input__inner {
            border-color: #67c23a;
          }
          .el-input__validateIcon {
            color: #67c23a;
          }
        }
      }
    }
    .operate_content {
      height: 6.5rem;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      .form-ctrl {
        padding-top: 0.41667rem;
        padding-bottom: 0.41667rem;
        width: calc(100vw - 3.33333rem);
        height: 3.33333rem;
        background: #000;
        button {
          width: 150px;
          margin: auto;
        }
      }
    }
  
    .el-select {
      background: transparent;
      appearance: none;
      -moz-appearance: none;
      -webkit-appearance: none;
      height: 2.66667rem;
      width: 100%;
      border: 0;
    }
    .label-group.required:after {
      content: "*";
      color: #f56c6c;
      margin-left: 0.3rem;
      font-size: 1.5rem;
    }
  }
  
  .el-tabs.light {
    .el-tabs__nav {
      float: none;
      background-color: #ffffff;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      position: relative;
      .el-tabs__item {
        &.is-active {
          border-bottom: 0.16667rem solid #ce9600;
        }
      }
    }
  }
  
  .el-tabs {
    &.deep {
      .el-tabs__nav {
        .el-tabs__item {
          &.is-active {
            .tab-item {
              color: #f9c901;
              border-bottom: 0.16667rem solid #f9c901;
            }
          }
        }
      }
    }
  }

  .no-result {
    min-height: 50vh;
    padding: 1.66667rem;
    text-align: center;
  }
}