@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';

html {
  height: 100%;
  box-sizing: border-box;
}

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.bg-black,
.bg-black:hover,
.bg-black:focus {
  color: $yellow;
  background: $black;
  border-color: $yellow;
  font-weight: 700;
}

.bg-black.is-disabled,
.bg-black.is-disabled:focus,
.bg-black.is-disabled:hover {
  color: $yellow;
  cursor: not-allowed;
  background-image: none;
  background-color: #a3a3a3;
  border-color: #a3a3a3;
}


.bg-yellow,
.bg-yellow:hover,
.bg-yellow:focus {
  color: black;
  background: $yellow;
  border-color: $yellow;
  font-weight: 700;
}

.bg-yellow.is-disabled,
.bg-yellow.is-disabled:focus,
.bg-yellow.is-disabled:hover {
  color: black;
  cursor: not-allowed;
  background-image: none;
  background-color: #a3a3a3;
  border-color: #a3a3a3;
}

.bg-gray,
.bg-gray:hover,
.bg-gray:focus {
  color: #fff;
  background: $gray;
  border-color: $gray;
  font-weight: 700;
}

.bg-gray.is-disabled,
.bg-gray.is-disabled:focus,
.bg-gray.is-disabled:hover {
  color: black;
  cursor: not-allowed;
  background-image: none;
  background-color: #a3a3a3;
  border-color: #a3a3a3;
}

.bg-red,
.bg-red:hover,
.bg-red:focus {
  color: black;
  background: $red;
  border-color: $red;
  font-weight: 700;
}

.bg-red.is-disabled,
.bg-red.is-disabled:focus,
.bg-red.is-disabled:hover {
  color: black;
  cursor: not-allowed;
  background-image: none;
  background-color: #a3a3a3;
  border-color: #a3a3a3;
}

.view {
  &-container {
    &-seachForm {
      width: 100%;
      background-color: $black;
      line-height: 0;
      padding: 4px 0;
      &-item {
        overflow: hidden;
        transition: height .3s;
        display: inline-block;
        width: 100%;
        vertical-align: top;
        &-wrap {
          padding: 3px;
          width: 100%;
          display: inline-block;
          vertical-align: top;
          .el-select {
            width: 100%;
          }
          .el-button {
            width: 120px;
          }
          .moreSearch {
            background-color: transparent;
            border-color: $yellow;
            color: $yellow;
          }
        }
        &-group {
          display: flex;
          justify-content: space-between;
        }
        &-group > &-wrap {
          width: auto;
        }
        &-wrap.pc {
          display: none;
        }
      }
    }
    &-table {
      padding-bottom: 40px;
      .single-row {
        background-color: #f4f4f4;
      }
    }
    &-footer {
      position: fixed;
      bottom: 0;
      background-color: #262626;
      text-align: center;
      width: 100vw;
      height: 40px;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .view {
    &-container {
      &-seachForm {
        &-item {
          &-wrap {
            display: inline-block;
            width: 50%;
          }
          &-group {
            display: inline-block;
          }
          &-group > &-wrap {
            width: auto;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 992px) {
  .view {
    &-container {
      &-seachForm {
        &-item {
          display: inline-block;
          width: auto;
          &-wrap {
            display: inline-block;
            width: auto;
            vertical-align: top;
            .moreSearch {
              display: none;
            }
          }
          &-wrap.pc {
            display: inline-block;
          }
        }
      }
      &-footer {
        text-align: right;
        width: calc(100vw - 66px);
        transition: width .3s;
      }

      &-footer.opened {
        width: calc(100vw - 170px);
      }
    }
  }
}
