@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';

html {
  height: 100%;
  box-sizing: border-box;
}

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

//整個滾動條
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: #000;
  //滾動條軌道
  &-track {
    background-color: #000;
  }
  //滾動條上的滾動滑塊
  &-thumb {
    border-radius: 15px;
    background-color: $yellow;
  }
  //當同時有垂直滾動條和水平滾動條時交彙的部分。通常是瀏覽器窗口
  &-corner {
    background-color: #000;
  }
}

.bg-normal,
.bg-normal:hover,
.bg-normal:focus {
  color: #000;
  background: transparent;
  border: none;
  font-weight: 700;
}

.bg-normal.is-disabled,
.bg-normal.is-disabled:focus,
.bg-normal.is-disabled:hover {
  color: #000;
  cursor: not-allowed;
  background-image: none;
  background-color: #a3a3a3;
  border: none;
}

.bg-parent,
.bg-parent:hover,
.bg-parent:focus {
  color: $yellow;
  background: transparent;
  border-color: $yellow;
  font-weight: 700;
}

.bg-parent.is-disabled,
.bg-parent.is-disabled:focus,
.bg-parent.is-disabled:hover {
  color: $yellow;
  cursor: not-allowed;
  background-image: none;
  background-color: #a3a3a3;
  border-color: #a3a3a3;
}

.bg-black,
.bg-black:hover,
.bg-black:focus {
  color: $yellow;
  background: $black;
  border-color: $yellow;
  font-weight: 700;
}

.bg-black.is-disabled,
.bg-black.is-disabled:focus,
.bg-black.is-disabled:hover {
  color: $yellow;
  cursor: not-allowed;
  background-image: none;
  background-color: #a3a3a3;
  border-color: #a3a3a3;
}


.bg-yellow,
.bg-yellow:hover,
.bg-yellow:focus {
  color: black;
  background: $yellow;
  border-color: $yellow;
  font-weight: 700;
}

.bg-yellow.is-disabled,
.bg-yellow.is-disabled:focus,
.bg-yellow.is-disabled:hover {
  color: black;
  cursor: not-allowed;
  background-image: none;
  background-color: #a3a3a3;
  border-color: #a3a3a3;
}

.bg-gray,
.bg-gray:hover,
.bg-gray:focus {
  color: #fff;
  background: $gray;
  border-color: $gray;
  font-weight: 700;
}

.bg-gray.is-disabled,
.bg-gray.is-disabled:focus,
.bg-gray.is-disabled:hover {
  color: black;
  cursor: not-allowed;
  background-image: none;
  background-color: #a3a3a3;
  border-color: #a3a3a3;
}

.bg-red,
.bg-red:hover,
.bg-red:focus {
  color: black;
  background: $red;
  border-color: $red;
  font-weight: 700;
}

.bg-red.is-disabled,
.bg-red.is-disabled:focus,
.bg-red.is-disabled:hover {
  color: black;
  cursor: not-allowed;
  background-image: none;
  background-color: #a3a3a3;
  border-color: #a3a3a3;
}

.red-tick {
  .el-checkbox__input {
    &.is-checked {
      .el-checkbox__inner {
        &::after {
          border: 3px solid $red;
          border-left: 0;
          border-top: 0;
        }
      }
    }
  }
}

.banker {
  color: #f07;
  font-weight: bolder;
}

.player {
  color: #09f;
  font-weight: bolder;
}

.tie {
  color: #090;
  font-weight: bolder;
}

.confirmButton,
.cancelButton {
  width: 100px;
  font-size: 18px;
}

.expand {
  font-size: 25px;
  color: #4e4e4e;
}

.operate {
  display: flex;
  justify-content: space-between;
  align-items: center;
  a {
    .el-button {
      vertical-align: top;
    }
  }
}

.view {
  &-container {
    width: 100%;
    overflow-y: auto;
    &-seachForm {
      width: 100%;
      height: auto;
      background-color: $black;
      padding: 4px 0;
      &-option {
        height: 34px;
        overflow: hidden;
        display: flex;
        flex-wrap: wrap;
        .optionItem {
          padding: 3px;
          width: 100%;
          .el-select {
            width: 100%;
          }
          .el-button {
            width: 120px;
          }
          .el-checkbox {
            .el-checkbox__inner {
              border-color: $yellow;
              background-color: $black;
            }
            .el-checkbox__label {
              color: $yellow;
            }
          }
        }
      }
      &-operate {
        height: 34px;
        overflow: hidden;
        display: flex;
        justify-content: space-between;
        .operateItem {
          padding: 3px;
          width: 100%;
          .el-button {
            width: 100%;
          }
        }
      }
    }
    &-table {
      width: 100%;
      &-row {
        background-color: #fff;
        padding: 10px;
        .item {
          display: flex;
          width: 100%;
          .header {
            display: flex;
            align-items: center;
            font-weight: bold;
          }
          .content {
            word-break: break-all;
          }
        }
        .item + .item,
        .item + .operate {
          margin-top: 5px;
        }
        .wrap {
          display: flex;
        }
        .status {
          color: #f00;
          font-weight: bold;
        }
        .statusOpen {
          color: #090;
        }
      }
      .single-row {
        background-color: #f4f4f4;
      }
      .noInformation {
        padding-top: 10px;
        text-align: center;
      }
    }
  }
  &-footer {
    background-color: #262626;
    width: 100%;
    height: 40px;
    position: fixed;
    right: 0;
    bottom: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .view {
    &-container {
      &-seachForm {
        &-option {
          .optionItem {
            width: 50%;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 992px) {
  .operate {
    .el-button {
      font-size: 20px;
    }
  }

  .view {
    &-container {
      overflow-y: hidden;
      &-seachForm {
        &-option {
          .optionItem {
            width: auto;
          }
        }
      }
      &-table {
        overflow-y: auto;
        &-row {
          display: flex;
          .item {
            flex-direction: column;
            line-height: 20px;
            justify-content: center;
            .header {
              display: block;
            }
          }
        }
      }
    }
  }
}
