#app.pc {
  .overlay-scroll-wrap {
    max-width: 100%;
    height: auto;
    position: relative;
    .scroll-inner {
      height: 100%;
      z-index: 1;
      .scroll-view {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        height: 100%;
      }
      &.native {
        overflow: auto;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        &.hasPage {
          border-bottom: 1px solid #000;
        }
      }
    }
    .scroll-view {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      height: 100%;
    }
    &.float {
      .scroll-inner {
        .scroll-view {
          min-width: 100%;
          width: auto;
          height: 100%;
          float: left;
          top: 0;
          left: 0;
          padding-right: 10px;
        }
      }
    }
  }
  .day-range {
    width: 100%;
    padding: 0.41667rem 1.25rem;
    .date-time-picker-box {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      .picker {
        width: 26.66667rem;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin-right: 0.83333rem;
        .el-range-separator {
          height: auto !important;
          line-height: 1 !important;
          width: 2.08333rem;
        }
      }
      .el-date-editor {
        height: 2.66667rem;
        width: 100%;
        input {
          font-size: 1rem;
          padding-left: 0.83333rem;
          padding-right: 0.83333rem;
          height: 100%;
          width: 100%;
        }
      }
    }
    .search-range {
      font-size: 1rem !important;
      padding: 0.83333rem 1.25rem !important;
      margin: 0.20833rem !important;
    }
  }
  .os-host,
  .os-host-textarea {
    position: relative;
    overflow: visible!important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    -ms-grid-row-align: flex-start;
    align-items: flex-start;
  }

  .os-resize-observer,
  .os-resize-observer-host {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
    display: block;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    pointer-events: none;
    z-index: -1;
  }

  .os-resize-observer {
    -webkit-animation-duration: 1ms;
    animation-duration: 1ms;
    -webkit-animation-name: hs-resize-observer-dummy-animation;
    animation-name: hs-resize-observer-dummy-animation;
  }

  .os-resize-observer-host {
    padding: inherit;
    border: inherit;
    border-color: transparent;
    border-style: solid;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    &:after {
      content: "";
    }
  }

  .os-resize-observer-host:after,
  .os-resize-observer-host>.os-resize-observer {
    height: 200%;
    width: 200%;
    padding: inherit;
    border: inherit;
    margin: 0;
    display: block;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
  }

  .os-resize-observer.observed,
  object.os-resize-observer {
    -webkit-box-sizing: border-box!important;
    box-sizing: border-box!important;
  }

  .os-size-auto-observer {
    -webkit-box-sizing: inherit!important;
    box-sizing: inherit!important;
    height: 100%;
    width: inherit;
    max-width: 1px;
    position: relative;
    float: left;
    max-height: 1px;
    overflow: hidden;
    z-index: -1;
    padding: 0;
    margin: 0;
    pointer-events: none;
    -webkit-box-flex: inherit;
    -ms-flex-positive: inherit;
    flex-grow: inherit;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
  }

  .os-size-auto-observer>.os-resize-observer {
    width: 1000%;
    height: 1000%;
    min-height: 1px;
    min-width: 1px;
  }

  .os-content-glue {
    max-height: 100%;
    max-width: 100%;
    width: 100%;
    pointer-events: none;
  }

  .os-content-glue,
  .os-padding {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
  }

  .os-padding {
    direction: inherit;
    position: absolute;
    overflow: visible;
    padding: 0;
    margin: 0;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: auto!important;
    height: auto!important;
    z-index: 1;
  }

  .os-host-overflow>.os-padding,
  .os-viewport {
    overflow: hidden;
  }

  .os-viewport {
    direction: inherit!important;
    -webkit-box-sizing: inherit!important;
    box-sizing: inherit!important;
    resize: none!important;
    outline: none!important;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 0;
    margin: 0;
    -webkit-overflow-scrolling: touch;
  }

  .os-content {
    direction: inherit;
    position: relative;
    display: block;
    height: 100%;
    width: 100%;
    visibility: visible;
  }

  .os-content,
  .os-content>.os-textarea {
    -webkit-box-sizing: border-box!important;
    box-sizing: border-box!important;
  }

  .no-result {
    padding: 1.66667rem;
    text-align: center;
  }

  .credit-report-list {
    .sort {
      padding: 0.41667rem 1.25rem;
    }
    .summary {
      border-bottom: 0.16667rem solid #000;
    }
    .el-tabs {
      border-top: 0.25rem solid #000;
    }
    .el-tabs {
      .el-tabs__nav {
        max-width: 100%;
        width: 100%;
      }
    }
  }

  .report-list .list-row, 
  .page-total2 .list-row {
    padding: 5px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    width: 100%;
  }

  .report-list.flex-nowrap .list-row,
  .page-total2.flex-nowrap .list-row {
    -ms-flex-wrap: nowrap !important;
    flex-wrap: nowrap !important;
  }

  .report-list {
    z-index: unset;
    .items {
      position: relative;
      width: 100%;
      padding: 0.625rem 1.16667rem 0.625rem 1.16667rem;
      &:nth-child(odd) {
        background-color: #f4f4f4;
        &.high-light {
          background-color: #fdf3c9;
        }
      }
      &:nth-child(even) {
        background-color: #fff;
        &.high-light {
          background-color: #fdf3c9;
        }
      }
      .list-row {
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        width: 100%;
        padding: 0;
        .videoBtn {
          display: inline;
          margin-right: 0.20833rem;
        }
        .list-item {
          font-size: 1.16667rem;
          width: 50%;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: start;
          -ms-flex-align: start;
          align-items: flex-start;
          word-break: break-all;
          padding-right: 0.41667rem;
          padding-top: 0.41667rem;
          padding-bottom: 0.41667rem;
        }
        .label {
          -webkit-box-flex: 0;
          -ms-flex: none;
          flex: none;
          width: auto;
          color: #6e6e6e;
          word-break: break-word;
          &.text-black {
            color: #000;
          }
        }
        .value {
          font-weight: bold;
          word-break: break-word;
        }
        .is-amount {
          padding-right: 5px !important;
        }
        .solid-circle {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          -ms-flex-item-align: center;
          align-self: center;
          background: #f9c901;
          width: 2.5rem;
          height: 2.5rem;
          border-radius: 50%;
          .fas {
            margin: auto;
          }
          &.small {
            width: 20px;
            height: 20px;
          }
        }
      }
    }
    .agent-break-line {
      width: 100%;
      height: 0.08333rem;
      display: block;
    }
    &.flex-nowrap {
      .list-row {
        .list-item {
          -webkit-box-flex: 0 !important;
          -ms-flex: none !important;
          flex: none !important;
          min-width: 50px;
        }
      }
    }
    &.has-index {
      .items {
        .list-row {
          position: relative;
          padding-left: 50px !important;
          .index {
            font-size: 1.33333rem;
            font-weight: bolder;
            position: absolute;
            top: 50%;
            margin-top: -0.83333rem;
            left: 0rem;
            width: 4.16667rem;
            text-align: center;
          }
        }
      }
    }
  }

  .report-list.flex-nowrap .list-row .list-item,
  .page-total2.flex-nowrap .list-row .list-item {
    -webkit-box-flex: 0 !important;
    -ms-flex: none !important;
    flex: none !important;
  }

  .report-list .items .list-row .is-amount .label,
  .report-list .items .list-row .is-amount .value {
    width: 100%;
    text-align: right !important;
    padding-right: 0px !important;
  }

  .report-list.has-index .items,
  .page-total2.has-index .items {
    padding: 0 !important;
  }

  .report-list.has-index .items .list-row,
  .page-total2.has-index .items .list-row {
      position: relative;
      padding-left: 50px !important;
      padding-top: 7.5px;
      padding-bottom: 7.5px;
  }

  .credit-report {
    .page-total {
      .item-content {
        .page-item {
          &:nth-child(1) {
            width: 160px;
            -webkit-box-ordinal-group: 5;
            -ms-flex-order: 4;
            order: 4;
          }
          &:nth-child(2) {
            width: 220px;
            margin-left: calc(125px + 4.16667rem);
            padding-right: 0.41667rem;
          }
          &:nth-child(3), 
          &:nth-child(4) {
            width: 220px;
            padding-right: 0.41667rem;
          }
          &:nth-child(5) {
            -webkit-box-ordinal-group: 6;
            -ms-flex-order: 5;
            order: 5;
            margin-left: 210px;
          }
        }
      }
    }
  }

  .credit-report-list {
    .page-total {
      .page-item {
        -webkit-box-sizing: border-box !important;
        box-sizing: border-box !important;
      }
    }
    .el-tabs {
      .el-tabs__item {
        width: 50%;
        text-align: center;
        padding: 0;
        .tab-item {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
        }
      }
    }
    .profit-tabs {
      &.el-tabs.light {
        .el-tabs__nav {
          .el-tabs__item {
            border-bottom: 0.2rem solid #a3a3a3;
            background-color: #000;
            .tab-item {
              color: #f9c901 !important;
              .fas {
                margin-bottom: 0.25rem;
                margin-right: 0.41667rem;
              }
            }
            &.is-active {
              background-color: #f9c901;
              border-bottom: 0.16667rem solid #ce9600;
              .tab-item {
                color: #000 !important;
              }
            }
          }
        }
      }
    }
  }
  .el-tabs__nav {
    background: #fff;
  }

  .filter-outer {
    border-bottom: 3px solid #f9c901;
  }

  .filters {
    .options {
      &.dim {
        width: auto;
        margin-left: 1.66667rem;
        margin-right: auto;
      }
    }
  }

  .credit-records {
    .page-total2 {
      padding: 0px !important;
      .list-sub-item {
        .page-item {
          width: 120px;
          padding-left: 0 !important;
          padding-right: 5px !important;
          margin-left: 0 !important;
          margin-right: 0 !important;
          &.is-amount {
            padding-left: 0 !important;
            padding-right: 5px !important;
            margin-left: 0 !important;
            margin-right: 0 !important;
          }
        }
      }
    }
    .filter-options {
      .options {
        &.dim {
          margin-left: 0;
          margin-right: 20px;
          .el-checkbox {
            .el-checkbox__label {
              color: #ffffff;
            }
          }
        }
      }
    }
    .date-time-picker-box {
      .picker {
        margin-right: 0 !important;
      }
    }
  }

  .option {
    .el-checkbox {
      .el-checkbox__label {
        font-size: 1rem;
      }
    }
  }

  .el-checkbox__label {
    display: inline-block;
    padding-left: 1rem;
    line-height: 1.9rem;
    font-size: 1.4rem;
  }

  .ab-record .page-item.ab-record-total-record {
    position: absolute !important;
    top: 0;
    left: 100%;
    width: 100px !important;
  }

  .agent-pop-up-panel {
    position: fixed;
    top: 75px;
    left: 50px;
    width: calc(100vw - 50px);
    height: calc(100vh - 75px);
    z-index: 3;
    background: rgba(0,0,0,0.5);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    transition: all .3s;
    &.sidebar_open {
      left: 200px;
      width: calc(100vw - 200px);
      transition: all .5s;
    }
    .popup-cover {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 3;
      background: rgba(0,0,0,0.5);
    }
    .popup-panel {
      position: relative;
      top: -10px;
      left: 0;
      width: auto;
      height: auto;
      min-width: 400px;
      max-width: 100%;
      max-height: calc(100% - 60px);
      background-color: #000;
      padding: 30px 20px 20px 20px;
      border-style: solid;
      border-color: #f9c901;
      border-width: 1.5px 1.5px;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      margin: 0 auto;
      z-index: 4;
      .icon-close {
        position: absolute;
        top: 0.83333rem;
        right: 0.83333rem;
        z-index: 5;
      }
    }
  }
  .icon-close {
    &.fas {
      background-color: transparent;
      border-radius: 50%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      margin-left: auto;
    }
  }

  .add-edit-white-list {
    .form-container {
      padding: 2.5rem;
      background-color: #000;
      width: 100%;
      min-height: 150px;
      .el-form-item {
        margin-bottom: 0.83333rem;
        .el-form-item__label {
          width: 100%;
          text-align: left;
          color: #f9c901;
        }
        .el-input {
          .el-input__inner {
            border-radius: 0.25rem;
            border: 0.08333rem solid #f9c901;
            background-color: #fff;
            padding: 0.83333rem;
            height: 2.5rem;
            line-height: 2.5rem;
            font-size: 1.33333rem;
            color: #000;
          }
        }
      }
      .el-form-item__label {
        font-size: 1.16667rem;
        height: 1.16667rem;
        line-height: 1.16667rem;
      }
      .el-form-item__content {
        font-size: 1.16667rem;
      }
    }
  }
  .animated {
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  .fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
  }
  @keyframes fadeInUp {
    0% {
      top: 70%;
    }
    100% {
      top: 0;
    }
  }
  .icon-close {
    &.fas {
      svg {
        fill: #fff !important;
      }
      &:hover {
        background-color: #666;
      }
    }
  }
  .common-button {
    width: 140px;
  }
  .report-list .items:nth-child(odd) {
    background-color: #f4f4f4;
  }

  .pop-over {
    position: relative;
    width: 0;
    height: 0;
    .resize-panel {
      -ms-touch-action: none;
      touch-action: none;
      display: inline-block;
      .panel {
        position: absolute;
        top: 5px;
        left: 0;
        width: auto;
        height: auto;
        min-width: 300px;
        min-height: 200px;
        background-color: #000;
        padding: 0 5px 5px;
        border: 0.08333rem solid #f9c901;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        margin: 0 auto;
        .icon-close {
          position: absolute;
          top: 5px;
          right: 5px;
          background-color: rgba(0,0,0,0.3);
        }
        .panel-title {
          color: #fff;
          width: calc(100% - 30px);
          overflow: hidden;
          white-space: nowrap;
          max-width: calc(100% - 30px);
          text-overflow: ellipsis;
          left: 5px;
          top: 8px;
          z-index: 1;
          line-height: 1.5;
          font-weight: bold;
          .panel-label {
            color: #999;
            margin-right: 5px;
          }
          .panel-value {
            margin-right: 10px;
          }
        }
        .videoPlayer {
          display: block;
          width: 100%;
          height: 100%;
          margin-top: 10px;
          video,
          img {
            width: 100%;
          }
        }
        .nwse-resize {
          width: 18px;
          height: 18px;
          position: absolute;
          bottom: 5px;
          opacity: 0.5;
          -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
          -webkit-transform-origin: center;
          transform-origin: center;
          left: auto;
          right: 5px;
          cursor: nwse-resize;
        }
        .fas.gray {
          fill: #f0eff0 !important;
        }
      }
    }
  }
}

.ams-timeslot-popper.pcPicker {
  .el-picker-panel__body {
    .el-date-range-picker__time-header {
      padding-top: 0.2rem;
    }
  }
  .quickSearch {
    .button-group {
      width: 170px;
      button {
        width: 35px;
        height: 33px;
        font-size: 15px;
        &.today,
        &.thisWeek,
        &.thisMonth {
          width: 48%;
          padding: 0;
        }
      }
    }
  }
  .el-picker-panel__footer {
    .is-plain {
      width: 120px;
    }
  }
}
