@import './variables.scss';

.w-50 {
    width: 50%!important;
}

.pl-04, .px-04 {
    padding-left: 0.4rem!important;
}

.pr-04, .px-04 {
    padding-right: 0.4rem!important;
}

.pl-1, .px-1 {
    padding-left: 0.25rem!important;
}

.pl-2, .px-2 {
    padding-left: 0.75rem!important;
}

.pr-2, .px-2 {
    padding-right: 0.75rem!important;
}

.pl-3, .px-3 {
    padding-left: 1rem!important;
}

.pr-3, .px-3 {
    padding-right: 1rem!important;
}

.pl-6, .px-6 {
    padding-left: 2rem!important;
}

.pr-6, .px-6 {
    padding-right: 2rem!important;
}

.bg-black {
    background-color: #333;
}

.pt-4, .py-4 {
    padding-top: 1.5rem!important;
}

.mr-0, .mx-0 {
    margin-right: 0!important;
}

#app .el-input__inner,
#app input {
    line-height: 100%;
}

#app button,
#app input {
    outline: none;
    cursor: pointer;
}

#app .el-input__inner,
#app input {
    line-height: 100%;
}

button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

button, input {
    overflow: visible;
}

#app .el-button {
    padding: 0.70833rem 0.95833rem;
    font-size: 1rem;
}

.bg-yellow {
    color: #000;
    background: #f9c901;
    border: 0.08333rem solid #f9c901;
    border-radius: 0.25rem;
}

.line-yellow {
    font-size: 1rem !important;
    padding: 0.83333rem !important;
    margin: 0.20833rem !important;
    color: #f9c901;
    background: transparent;
    border: 0.08333rem solid #f9c901;
    border-radius: 0.25rem;
}

.fas.gold {
    fill: #ce9600 !important;
}

.text-right {
    text-align: right!important;
}

.text-red {
    color: #ff473d;
}

.text-blue {
    color: #0090ff;
}

.fas.text-gray {
    fill: #a3a3a3 !important;
}

#app .profit-report .el-button {
    margin: 0.41667rem;
    font-size: .91667rem;
    font-weight: bold;
}

#app .profit-report .superior-summary {
    background-color: #fff;
}

.justify-content-end {
    -ms-flex-pack: end!important;
    -webkit-box-pack: end!important;
    justify-content: flex-end!important;
}

.report-summary .bottom-line {
    display: block;
    border-bottom: 0.08333rem solid #ddd;
    width: 100%;
    margin: 0.83333rem auto;
    padding: 0rem 0.83333rem;
}

#app .profit-report .bottom-line {
    border-bottom: 0.08333rem solid #ddd;
    width: 100%;
    margin: 0.83333rem auto !important;
}

.text-black {
    color: #000;
}

.text-link {
    cursor: pointer;
}
